html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: #f5f5f5;
  overflow: auto;
}

.tool_bar {
  text-align: left;
  margin-bottom: 1.5rem;
}

.role_name_label {
  margin-right: 1rem;
}

.role_name_select {
  width: 22rem;
  margin-right: 1.5rem;
}

.save_button {
  width: 12rem;
}

.menu_table thead .name {
  width: auto;
}

.menu_table thead .text {
  width: auto;
}

.menu_table thead .description {
  width: auto;
}

.menu_table tbody .rowspan {
  text-align: center;
  user-select: none;
}

.menu_table tbody .menu_level_one {
  padding-left: 3.7rem;
  background-size: 1.2rem auto;
  background-repeat: no-repeat;
  background-position: left 1.5rem center;
  background-image: url(../../../img/select_arrow_333333.png);
}

.menu_table tbody .menu_level_two {
  padding-left: 5.9rem;
  background-size: 1.2rem auto;
  background-repeat: no-repeat;
  background-position: left 3.7rem center;
  background-image: url(../../../img/select_arrow_333333.png);
}

.menu_table tbody .menu_level_three {
  padding-left: 6.9rem;
}

/* 这里包括thead和tbody中tr下select_checkbox */
.menu_table tr .select_checkbox {
  width: 1px; /* 这里需要设置一个非0的最小单位，否则该列会有多余空间，不能用rem因为这个是相对单位数值较大。 */
  text-align: center;
  padding-right: 0rem;
}
