/******************************************************************************/
/* 版权样式 */
/******************************************************************************/
.global_copyright {
  width: 100%;
  height: auto;
  bottom: 0rem;
  padding: 1rem;
  position: fixed;
  color: #e8e8e8;
  font-size: 1.4rem;
  user-select: none;
  text-align: center;
}
