/******************************************************************************/
/* 标签样式 */
/******************************************************************************/
.global_label {
  color: #333333;
  font-size: 1.4rem;
  user-select: none;
}

.global_label_required:before {
  content: "*";
  color: #d9534f;
}
