html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.top_bar {
  width: 100%;
  height: 4.8rem;
  line-height: 4.8rem;
  user-select: none;
  background-color: #2f3c48;
}

.menu_head {
  width: 18rem;
  height: 100%;
  float: left;
}

.menu_button {
  width: 4.8rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  float: left;
}

.menu_button img {
  width: 2rem;
  vertical-align: middle;
  content: url(../img/menu_cae4fb.png);
}

.system_name {
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
}

.nav_bar {
  height: 100%;
  float: left;
}

.shortcut_area {
  height: 100%;
  float: right;
}

.side_bar {
  width: 18rem;
  color: #ffffff;
  font-size: 1.4rem;
  user-select: none;
  background-color: #2f3c48;
  overflow: auto;
  cursor: pointer;
  /* 这里需要设置left否则计算side_bar时无法取到值 */
  left: 0rem;
  float: left;
}

.content {
  position: absolute;
  background-color: #f5f5f5;
}

.content iframe {
  width: 100%;
  height: 100%;
}

.menu_level_one {
  color: #cae4fb;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

.menu_level_one:hover {
  background-color: #45596a;
}

.menu_level_one:active {
  color: #cae4fb;
  background-color: #427cac;
}

.menu_level_one_active {
  color: #ffffff;
  background-color: #4f667a;
}

.menu_level_two {
  width: 100%;
  height: 3.2rem;
  line-height: 3.2rem;
}

.menu_level_two .menu_text {
  font-size: 1.4rem;
}

.menu_level_two:hover {
  color: #fafafa;
  background-color: #45596a;
}

.menu_level_two:active {
  color: #fafafa;
  background-color: #427cac;
}

.menu_level_two_open div:first-child {
  transform: rotate(0deg);
}

.menu_level_two_close div:first-child {
  transform: rotate(-90deg);
}

.menu_level_three {
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
}

.menu_level_three .menu_text {
  font-size: 1.4rem;
}

.menu_level_three:hover {
  color: #fafafa;
  background-color: #45596a;
}

.menu_level_three:active {
  color: #fafafa;
  background-color: #427cac;
}

.menu_level_three_active {
  color: #fafafa;
  background-color: #496b8a;
}

.menu_img {
  width: 4.8rem;
  height: 100%;
  background-image: url(../img/menu_arrow_ffffff.png);
  background-size: 1.2rem auto;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
}

.menu_level_three .menu_img {
  display: none;
}
